<div class="menu">
    <div class="menu__header">
        <div class="menu__contact">contact</div>
        <div class="menu__logo"> logo</div>
        <div class="menu__registration"><a href="/registration">Зарегистрироваться</a></div>
        <div class="menu__login"><a href="/login">Войти</a></div>
    </div>
    <div class="menu__footer">
        <div class="menu__link">
            <a href="">Каталог</a>
            <a href="">О магазине</a>
            <a href="">Контакты</a>
        </div>
        <div class="menu__social">
            <a href="">telegram</a>
            <a href="">vkontack</a>
            <a href="">instagram</a>
        </div>
    </div>
</div>