<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Useredit</title>
</head>
<body>
    <div th:fragment="categoryedit(categoryedit)">
        <h2>Редактирование катеории</h2>
        <form th:action="@{/admin/category/saveCategory}" method="post">
            <input type="hidden" th:name="id" th:value="${categoryedit.id}"/>
            <div class="form-group">
                <label for="username">Название категории:</label>
                <input type="text" id="username" name="title" th:value="${categoryedit.title}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success">Сохранить категорию</button>
        </form>
    </div>
</body>
</html>